<div class="container">
    <h1>Recipe {{ welcome_name }}!</h1>
    <h2>Am I authenticated? {{ request.user.is_authenticated }}</h2>

    <h3>Table Contents</h3>
        <ul>
            {% for post in recipes %}
                <li>
                    <a href="/post/{{ post.id }}/">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>

    <a href="/addauthor/"><input class="addAuthor" type="submit" value="Add New Author"></a>
    <a href="/addrecipe/"><input class="addRecipe" type="submit" value="Add New Recipe"></a>
    <a href="/logout/"><input class="logout" type="submit" value="Logout"></a>
    <a href="/login/"><input class="login" type="submit" value="Login"></a>



</div>